# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
certs/*.pem
certs/*.key
certs/*.p12
.env
static/
frontend/dist/
backend/dist/
